{% extends 'connect/basic.html'%}
{%block content%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/connect/recd">College Connect</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                    <a type="button" href="/connect/createproject" class="btn btn-primary mr-3">+ create project</a>
                </li>
                <li>
                    <a href="/connect/createblog" class="btn btn-primary" type="button">+ create blog</a>
                </li>
                <li>
                  <a href="/connect/explore/all" class="btn btn-primary ml-3" type="button">Explore all</a>
              </li>
            </ul>
            <a href="/connect/myprofile" type="button" name="button" class="btn btn-primary mr-4">my profile</a>
            <a href="/connect/logout" type="button" name="button" class="btn btn-primary">logout</a>
        </div>
    </nav>
    <div class="container">
    
        <h3 class="my-3">Recommended Projects</h3>
      
        <br>
        <br>
       
        {% if projects|length == 0 %}
        <div class="alert alert-primary alert-dismissible fade show my-3">
            <strong>There is no projects in your profile</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% else %}
    
        <div class="row">
            {% for i in projects %}
            <div class="col-6">
                <div class="card mt-3 tab-card" style="background-color: #cbe7f7;">
                  <div class="card-header tab-card-header" style="background-color:rgba(0, 0, 0, 0.863);color: antiquewhite;">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link" id="one-tab" data-toggle="tab" href="#one{{i.pid}}" role="tab" aria-controls="One" aria-selected="true">Project</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="two-tab" data-toggle="tab" href="#two{{i.pid}}" role="tab" aria-controls="Two" aria-selected="false">Timeline</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="three-tab" data-toggle="tab" href="#three{{i.pid}}" role="tab" aria-controls="Three" aria-selected="false">Creation</a>
                      </li>
                    </ul>
                  </div>
          
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="one{{i.pid}}" role="tabpanel" aria-labelledby="one-tab">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text">{{i.field}}</p>
                      <p class="card-text">{{i.projshortdesc}}</p>
                      <a href="/connect/handlelikes/proj/{{i.pid}}?site=recd" class="btn btn-primary">Like</a>              
                    </div>
                    <div class="tab-pane fade p-3" id="two{{i.pid}}" role="tabpanel" aria-labelledby="two-tab">
                      <h5 class="card-title">details</h5>
                      <p class="card-text"><strong>start time</strong>: {{i.starttime}}</p>
                      <p class="card-text"><strong>total days</strong>: {{i.time}} days</p>
                      <p class="card-text"><strong>people required</strong>: {{i.number_of_people}}</p>
                      <p class="card-text"><strong>techstack</strong>: {{i.techstack}}</p>
                      <a href="/connect/handlelikes/proj/{{i.pid}}?site=recd" class="btn btn-primary">Like</a>              
                    </div>
                    <div class="tab-pane fade p-3" id="three{{i.pid}}" role="tabpanel" aria-labelledby="three-tab">
                      <h5 class="card-title">contacts</h5>
                      {% for mem in i.created_by.all %}
                      <p class="card-text"><strong>created by:</strong>{{mem.name}}</p>
                      <p class="card-text"><strong>cont:</strong>{{mem.contact}}</p>
                      <p class="card-text"><strong>email:</strong>{{mem.email}}</p>
                      {% endfor %}
                      <a href="/connect/handlelikes/proj/{{i.pid}}?site=recd" class="btn btn-primary">Like</a>              
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
        </div>
        <br>
        <br>
    
        <div class="container">
        <h3 class="my-3">Recommended Blogs</h3>
        <br>
        <br>
        {% if blogs|length == 0 %}
        <div class="alert alert-primary alert-dismissible fade show my-3">
            <strong>There is no blogs in your profile</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% else %}
    
        <div class="row">
            {% for i in blogs %}
            <div class="col-md-4">
        
                <div class="card my-5" style="width: 15rem;background-color: #a9ad97;">
                  <img class="card-img-top" src="https://pbs.twimg.com/profile_images/416470137861328896/Kch7r6Pt.jpeg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><strong><i>{{i.title}}</i></strong></h5>
                    <h4 class="card-title"><strong>{{i.field}}</strong></h4>
                    <p class="card-text">
                      <button type="button" class="btn btn-outline-info" data-toggle="modal"
                        data-target="#exampleModal{{forloop.counter}}">
                        Get Details.
                      </button>
                      <a class="btn btn-primary" href="/connect/handlelikes/blog/{{i.bid}}?site=recd">Like</a>
                    </p>
                  </div>
                </div>
                <!-- modal body -->
                <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{forloop.counter}}"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel{{forllop.counter}}">{{i.title}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group container">
                            <strong>blog Description:</strong>
                            <p>{{i.body}}</p>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% endif %}
        </div>
        <br>
        <br>
        <div class="container">
          <h4><strong>It will be helpful if you report bugs if found</strong></h4>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZNa4uT97BnvDP8cTOURPw_FH20AFSCSW0ULo-vCTXeUiVZg/viewform?usp=sf_link" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
            <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
          </svg>report</a>
        </div>
      
    </div>
    <br>
    
    <br>
    <br>
{% endblock %}