<!DOCTYPE html>
<html>
  <head>
    <title>Django Wrapper | FusionCharts</title>
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'connect/fusioncharts.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'connect/themes/fusioncharts.theme.fint.js' %}"
    ></script>
  </head>
  <body>
    <!-- FusionCharts will render here-->
    <div id="chart-1">{{ output|safe }}</div>
    <!-- dumping JavaScript code here -->
    <div id="chart-2">{{ output1|safe }} </div>
  </body>
</html>
