{% extends 'connect/basic.html'%}
{% block content %}

<div class="container">
    <div class="jumbotron">
      <h1>
        Welcome to Branch Curator 
      </h1>
     </div>
      <br></br>
     <br></br>
     <p>
        This website is specially designed for ise/cse branch to maintain thier activity<br>
        This will help students and faculties to know about new projects people are making<br>
        Project creators can make specify vacancy and techstack required to recruit people.<br>
        Blogs and projects are automatically classified among topics using nlp.<br>
        Users get recommended blogs and projects.<br>
        People can create blogs to spread knowledge and information.<br>
        People can also watch attractive charts to get new arrivals and current trends.<br>
     </p>
     <br></br>
     <div class="row">
         <div class="col-md-12">
            <a type="button" href="/connect/login" class="btn btn-primary mr-3" style="width: 150px;">login</a>
         </div>
     </div>
    
</div>


{% endblock %}