{% extends 'connect/basic.html'%}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/connect/recd">College Connect</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a type="button" href="/connect/createproject" class="btn btn-primary mr-3">+ create project</a>
            </li>
            <li>
                <a href="/connect/createblog" class="btn btn-primary" type="button">+ create blog</a>
            </li>
            <li>
                <a href="/connect/chart" class="btn btn-danger ml-2" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                    <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                  </svg>trends</a>
            </li>
        </ul>
        
        <a href="/connect/myprofile" type="button" name="button" class="btn btn-primary mr-4">my profile</a>
        <a href="/connect/logout" type="button" name="button" class="btn btn-primary">logout</a>
    </div>
</nav>
<br>
<br>
<div class="container">
<h1>New Arrivals</h1>
<div id="chart-1">{{ output|safe }}</div>
<!-- dumping JavaScript code here -->
<br>
<hr>
<br>
<h1>Trends</h1>
<div id="chart-2">{{ output1|safe }} </div>
</div>

{% endblock %}